body {
  font-size: calc(16px + .5vw); 
  text-align: center;
}

input {
  width: 80%;
}

section {
  border: 5px ridge black;
}

.border-right {
  border-right: 2px solid black;
}

.bs-sucks {
  padding-right: 0px!important;
  padding-left: 0px!important;
}
/* #temperature div {


} */

